/**
 * Config for database-diff-oracle
 */

database {
    type = 'oracle'
    driver = 'oracle.jdbc.driver.OracleDriver'
    host = '127.0.0.1'    // 環境に合わせて変更して下さい
    sid = 'xe'            // 環境に合わせて変更して下さい
    user = 'system'       // 環境に合わせて変更して下さい
    pass = 'manager'      // 環境に合わせて変更して下さい
    url = "jdbc:oracle:thin:@${database.host}:1521:${database.sid}"
}
include {
    // List<String> 形式で指定する
    tables = [
            //'テーブル名'
            'DEPT1',
            'DEPT2',]
}
exclude {
    // List<String> 形式で指定する
    columns = [
            //'カラム名'
            'COLUMN1',
            'COLUMN2',
    ]
    // Map<String, List<String> 形式で指定する
    table_columns = [
            //テーブル名: ['カラム名','カラム名'...]
            DEPT1: ['COLUMN1', 'COLUMN2'],
            DEPT2: ['COLUMN'],
    ]
}

alter_attr {
    // Map<String, List<String> 形式で指定する
    table_pks = [
            //テーブル名: ['カラム名','カラム名'...]
            DEPT1 : ['PKCOLUMN1', 'PKCOLUMN2'],
            DEPT2 : ['PKCOLUMN'],
    ]
}